# Arquivos ocultos do sistema
.DS_Store
desktop.ini
._.DS_Store
._.desktop.ini

# Notebooks originais, não formatados
/notebooks-mariana

# Diretórios com dados brutos e tratados
/dados
/dados-tratados/bloqueados

# Notebooks de apoio, sem 
analise-exploratoria_bkp_ignorado.ipynb
tratamento-dados-pr-conferencia-pp.ipynb